In [8]:
import pandas as pd

In [9]:
jan__yellow_taxi_df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
feb__yellow_taxi_df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [10]:
jan__yellow_taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [13]:
jan__yellow_taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [18]:
print('Total columns in the yellow taxi data for january is: {0}'.format(len(jan__yellow_taxi_df.columns)))

Total columns in the yellow taxi data for january is: 19

In [30]:
trip_dr = jan__yellow_taxi_df['tpep_dropoff_datetime'] - jan__yellow_taxi_df['tpep_pickup_datetime']

In [31]:
jan__yellow_taxi_df['total_duration'] = round(trip_dr.dt.total_seconds()/60, 2)

In [35]:
std_deviation = jan__yellow_taxi_df['total_duration'].std()
print(f'The standard deviation of the trips duration in January is: {std_deviation: .2f}')

The standard deviation of the trips duration in January is:  42.59

In [55]:
pct_after_outliers = (len(jan__yellow_taxi_df[(jan__yellow_taxi_df['total_duration'] >= 1) & (jan__yellow_taxi_df['total_duration'] <= 60)]) / len(jan__yellow_taxi_df)) * 100
print(f'The fraction of the records left after you dropped the outliers: {pct_after_outliers: .2f}')

The fraction of the records left after you dropped the outliers:  98.12